@charset "utf-8";

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -webkit-tap-highlight-color: transparent; /* 3*/
}

body {
    margin: 0;
    width: 100%;
    margin: 0 auto;
}

main {
    display: block;
}

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
    margin: 0;
}


ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

button,
input,
optgroup,
select,
textarea {
    border: none;
    outline: none;
    -webkit-appearance: none; 
    appearance: none;
    vertical-align: middle;
    color: inherit;
    font: inherit;
    background: transparent;
    padding: 0;
    margin: 0;
    border-radius: 0;
    text-align: inherit;
    text-transform: inherit;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    cursor: pointer;
}

button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
    cursor: default;
}

textarea {
    overflow: auto;
    resize: none;
}

table {
    border-color: inherit; /* 1 */
    border-collapse: collapse;
}


td,
th {
    vertical-align: top;
    padding: 0;
}

th {
    text-align: left;
    font-weight: bold;
}

/* ===============
    ヘッダー
================== */

header {
    border-bottom: 2px solid #0D4C92;
    text-align: center;
    padding: 20px 20px;
}

header a {
    color: #0D4C92;
    font-size: 2.5vh;
    font-weight: bold;
}

/* ===================
    ニュース投稿フォーム
======================*/
.main {
    width: 60%;
    margin: 0 auto;
}

.news-main {
    width: 100%;
    /* text-align: center; */
    margin: 0 auto;
}


h2 {
    margin: 30px 0 20px 15px;
    font-size: 3vh;
    font-weight: bold;
    text-align: center;
}

.contact-form {
    margin-top: 10px;
}


.title input {
    background-color: lightgrey;
    height: 30px;
    padding: 5px;
    width: 80%;
    border-radius: 4px;
}

.news-sentence {
    width: 100%;
    margin-left: 0 auto ;
} 

.news-sentence textarea {
    background-color: lightgrey;
    height: 200px;
    width: 80%;
    border-radius: 4px;
    padding: 5px;
    text-align: left;
}


.news-sentence label {
    vertical-align: top;
    text-align: right;
    width: 80px;
}


.submit-btn {
    width: 90%;
    text-align: right;
}

.submit-btn input {
    border: none;
    outline: none;
    display: inline-block;
    margin-right: 50px;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    transition: 1.0s;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.6);
}


.show-news {
    border-radius: 10px;
    background: linear-gradient(-135deg, #2980B9,#0D4C92);
    padding: 8px 10px;
    color: #FFF;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.posted {
    margin-top: 70px;
} 

.news-text {
    padding-left: 2rem;
}

/* ===================
    ニュース投稿一覧
======================*/
ul li {
    margin: 10px;
}

.list-title {
    font-size: 2vh;
    font-weight: 600;
    margin-bottom: 10px;
}

.news-date {
    color: gray;
    font-size: 0.5rem;
}

/* ===================
    ニュース詳細
======================*/
.post-it-cover {
    margin-top: 30px;
}


.comment-form {
    text-align: center;
}

.comment-write {
    margin-top: 10px;
}

.comment-sentence {
    margin-bottom: 10px;
}

.comment-wrote {
    margin: 20px 0;
}

.delete-btn {
    border: none;
    outline: none;
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 20px;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background: linear-gradient(-135deg, #2980B9,#0D4C92);
    transition: 1.0s;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 768px) {
	/* 768px以下に適用されるCSS（タブレット用） */
    .news-text {
        padding-left: 0;
        padding-right: 2rem;
    }
}
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
    .show-news-btn {
        text-align: center;
    }
    .submit-btn {
        width: 100%;
        text-align: center;
    }

    .submit-btn input {
        margin-right: 0;
    }

    .news-sentence textarea {
        width: 100%;
        padding: 0;
    }

    .title input {
        width: 100%;
        padding: 0;
    }
}